.Characters {
  &__autocomplete {
    margin-bottom: 50px;
    display: grid;
    gap: 50px;
    justify-content: center;
    grid-template-columns: repeat(2, 300px);
  }

  &__field {
    grid-column: 1 / 3;
  }

  &__list {
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(2, 300px);
  }

  &__character {
    width: 300px;
  }

  &__link {
    text-decoration: none;
  }

  &__message {
    text-align: center;
  }
}
